{% extends 'base.html' %}

{% url 'home' as search_action %}

{% block content %}
<div>
    {% if not request.session.user %}
    <h1>BakuProject Trade Hub</h1>
    <p>Please login or signup to get started. In order to use the website you will need the Google Authenticator app.</p>
    {% else %}
    <div class="inv-container">
        {% include 'sidebar.html' with action=search_action %}
        <div class="inventory">
            <h1 class="inv-name">{{ user.ign }}'s Inventory</h1>
            {% include 'searchbar.html' with action=search_action %}
            
            <div class="inv-grid">
                {% for ob in owned_bakugans %}
                    {% if not ob.is_offered %}
                        <div class="inv-card" id="ob.bakugan-{{ ob.bakugan__id }}">
                            <h3 class="inv-text">{{ ob.bakugan.attribute }} {{ ob.bakugan.name }}</h3>
                            <img class="inv-img" src="{{ ob.bakugan.image.url }}" alt="{{ ob.bakugan.name  }}">
                            <h3 class="inv-text">G: {{ ob.power }}</h3>
                            <h3 class="inv-text">{{ ob.trade_type }}</h3>
                            {% if ob.trade_type == 'selling' or ob.trade_type == 'both' %}
                            <h3 class="inv-text">{{ ob.price }} HSP</h3>
                            {% endif %}
                            <a href="{% url 'editowned' ob.id %}" class="edit-btn">Edit</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}