{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="trade-menu">
    <div class="offering-container">
        <form id="sender-form" method="POST">
            {% csrf_token %}
            <h2>{{ sender.discord_name }}</h2>
            <h3 class="hsp-text">Offering: {{ sender_price }} HSP</h3>
            <div class="offer-controls">
                <button type="submit" class="offer-btn" name="edit-trade" value="{{ sender.id }}">Edit Trade</button>
            </div>
            <div class="offer-grid" id="sender-offer-grid">
                {% for ob in sender_bakugans %}
                    <div class="inv-card" id="ob.bakugan={{ ob.bakugan.id }}">
                        <h3 class="inv-text">{{ ob.bakugan.attribute }} {{ob.bakugan.name }}</h3>
                        <img class="inv-img" src="{{ ob.bakugan.image.url }}" alt="{{ ob.bakugan.name }}">
                        <h3 class="inv-text">G: {{ ob.power }}</h3>
                        <h3 class="inv-text">{{ ob.trade_type }}</h3>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>

    <div class="trade-menu-controls">
        <form method="POST">
            {% csrf_token %}
            {% if original_offer_id %}
                <button {% if not editing %}style="display:none;"{% endif %}id="counter-btn"  type="submit" name="update" value="update">Send Counter</button>
                {% if my_offer %}
                    <button type="submit" name="action" value="decline">Delete Offer</button>
                {% else %}
                    <button {% if editing %}style="display:none;"{% endif %} id="accept-btn" type="submit" name="action" value="accept">Accept</button>
                    <button type="submit" name="action" value="decline">Decline</button>
                {% endif %}
            {% else %}
                {% for ob in receiver_bakugans %}
                    <input type="hidden" name="receiver_bakugans" value="{{ ob.id }}">
                {% endfor %}
                {% for ob in sender_bakugans %}
                    <input type="hidden" name="sender_bakugans" value="{{ ob.id }}">
                {% endfor %}
                <button type="submit" name="create" value="create">Create Offer</button>
            {% endif %}
            <div class="button-separator">
                <button type="submit" name="clear" value="clear">Clear Trade</button>
            </div>
        </form>
    </div>

    <div class="offering-container">
        <form id="receiver-form" method="POST">
            {% csrf_token %}
            <h2>{{ receiver.discord_name }}</h2>
            <h3 class="hsp-text">Offering: {{ receiver_price }} HSP</h3>
            <div class="offer-controls">
                <button type="submit" class="offer-btn" name="edit-trade" value="{{ receiver.id }}">Edit Trade</button>
            </div>
            <div class="offer-grid" id="receiver-offer-grid">
                {% for ob in receiver_bakugans %}
                    <div class="inv-card" id="ob.bakugan={{ ob.bakugan.id }}">
                        <h3 class="inv-text">{{ ob.bakugan.attribute }} {{ob.bakugan.name }}</h3>
                        <img class="inv-img" src="{{ ob.bakugan.image.url }}" alt="{{ ob.bakugan.name }}">
                        <h3 class="inv-text">G: {{ ob.power }}</h3>
                        <h3 class="inv-text">{{ ob.trade_type }}</h3>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
</div>
<div id="edited" data-edited="{{ editing|yesno:'true,false' }}"></div>
<script src="{% static 'js/trademenu.js' %}"></script>
<script src="{% static 'js/counter.js' %}"></script>
{% endblock %}