body {
    font-family: 'russo one';
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    color: white;

    background-color: grey;
}

.links {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.links:hover {
    color: aqua;
    transform: translateX(5px);
}



nav {
    position: -webkit-sticky;
    position: sticky;
    box-sizing: border-box;
    z-index: 1000;
    top: 0;
    padding: 10px;
    height: 58px;
    z-index: 1000;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(20, 20, 20, 0.95);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
    transition: background 0.4s ease-in-out;
}

nav a {
    color: white;
    text-decoration: none;

    font-family: 'russo one';
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

.nav-left a, .nav-right a {
    margin-right: 15px;
    transition: transform 0.2s;
}

.nav-left a:hover, .nav-right a:hover {
    color: rgb(60, 50, 114);
    transform: translateX(5px);
}

.nav-right a:last-child {
    margin-right: 0;
}

nav a:hover {
    text-decoration: underline;
}



.inv {
    flex: 1;
    min-width: 0;
}

.inv-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.inv-name {
    margin: 10px;
}

.inv-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-self: start;
}

.inv-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 150px;
    padding: 20px;

    border: 2px solid rgb(51, 2, 51);
    border-radius: 12px;

    background-color: gray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    text-align: center;
}

.inv-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

.inv-img {
    width: 150px;
    height: 150px;
    object-fit: contain;

    border-radius: 8px;
    background-color: #777;
    padding: 5px;

}

.inv-text {
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}



.create {
    flex: 1;
    min-width: 0;
}

.create-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.create-name {
    margin: 10px;
}

.create-grid {
    margin: 10px;
}

.create-card {
    padding: 15px;
}

.create-img, .regular-text {
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}



.owned-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    min-height: 100vh;
    margin: 0 auto;
}

.owned-img, .owned-text {
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}



.search-container {
    margin: 10px;
    display: flex;
}

.search-form {
    display: flex;
    width: 100%;
    max-width: 500px;
}

.search-input {
    flex-grow: 1;
    font-size: 12px;
    border: 2px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-input:focus {
    border-color: #9c4848
}

.search-btn {
    font-size: 12px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-btn:hover {
    background: #03567c;
}



.edit-btn {
    display: inline-block;
    padding: 8pb 16px;
    border: 2px solid rgb(0, 0, 0, 0.6);
    background: rgb(172, 169, 169);
    color: black;
    text-decoration: none;
    border-radius: 4px;

    width: 100px;
}

.edit-btn:hover {
    background: #04567c;
}



.sidebar {
    width: fit-content;
    min-width: 180px;
    z-index: 1;
    padding: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 58px;
    height: calc(100vh - 58px);
    box-sizing: border-box;

    background-color: goldenrod;
}

.attribute-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.attribute-list li {
    margin-bottom: 12px;
}

.attribute-name {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    transition: transform 0.2s;
}

.attribute-name:hover {
    color: aqua;
    transform: translateX(5px);
}

.attribute-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: transform 0.2s;
}

.attribute-item:hover {
    color: aqua;
    transform: translateX(5px)
}

.attribute-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 10px;
}



.table {
    width: 800px;
    margin: 40px auto;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.table-name {
    margin: 0;
}

.filter-btn {
    padding: 8px 16px;
    cursor: pointer;
}

.user-link {
    display: block;
    padding: 12px;
    border-bottom: 1px solid black;
    text-decoration: none;
    color: inherit;
}

.user-link:hover {
    background: aqua;
}



.offering-container {
    position: sticky;
    top: 80px;

    flex-shrink: 0;
    width: 800px;
    height: 840px;

    padding: 20px;

    background: #333;
    border: 2px solid black;
    border-radius: 12px;

    color: white;
}

.offering-container h2 {
    text-align: center;
}

.offer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    height: calc(100% - 60px);
    overflow-y: auto;

    align-content: start;
}

.offer-btn {
    display: inline-block;
    padding: 8pb 16px;
    border: 2px solid rgb(0, 0, 0, 0.6);
    background: rgb(172, 169, 169);
    color: black;
    text-decoration: none;
    border-radius: 4px;

    width: 100px;
}

.offer-btn:hover {
    background: #04567c;
}

.offer-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.offer-controls input {
    width: 150px;
    text-align: center;
}

.offer-controls button {
    display: inline-block;
    padding: 8pb 16px;
    border: 2px solid rgb(0, 0, 0, 0.6);
    background: rgb(172, 169, 169);
    color: black;
    text-decoration: none;
    border-radius: 4px;

    width: 100px;
}
.offer-controls button:hover {
    background: #04567c;
}